/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
/*header start*/
.menu ul li a{
    text-align: right;
}

.nav_search{
    text-align: right;
 }
 .c_dd_menu{

    min-width: 250px;
    padding: 5px 5px;
   
}
.c_dd_menu[data-bs-popper] {
    top: 44px;
    left: 33px;
}
/*slider*/
.s_1{
    margin-top: 110px;
    margin-bottom: 110px;
}
 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
/*header start*/
.menu ul li a{
    text-align: right;
}

.nav_search{
    text-align: right;
 }
.c_dd_menu[data-bs-popper] {
    top: 44px;
    left: 104px;
}
/*slider*/
.s_1{
    margin-top: 110px;
    margin-bottom: 110px;
}
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
/*header start*/
.menu ul li a{
    text-align: right;
}

.nav_search{
    text-align: right;
 }
.c_dd_menu[data-bs-popper] {
    top: 44px;
    left: 283px;
}
/*slider*/
.s_1{
    margin-top: 110px;
    margin-bottom: 110px;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 

 }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 

}